# игнорировать все файлы, находящиеся в подкаталоге tmp
tmp/
# игнорировать файлы, заканчивающиеся суффиксами _old
*_old
# игнорировать файлы, заканчивающиеся суффиксами _backup
*_backup
# игнорированы файлы Thumbs.db
Thumbs.db
# игнорированы файлы .DS_Store
.DS_Store